footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}
.footer_SecondDiv {
  display: flex;
  flex-direction: row;
  width: 35%;
  justify-content: center;
}
.footer_SecondDiv ul {
  list-style: none;
  flex: 1;
  padding: 1%;
}
.footer_SecondDiv ul li {
  margin: 5% 0;
}
